@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.LoadedQuiz.Title</h1>
    <h2>@Model.LoadedQuiz.Author</h2>
</div>

<form method="POST" >

    @for (int questionIndex = 0; questionIndex < Model.LoadedQuiz.Questions.Count; questionIndex++)
    {
        var question = Model.LoadedQuiz.Questions[questionIndex];
        @Html.Hidden($"QuizAnswers[{questionIndex}].QuestionId", question.QuestionId)
        

        <div>@question.QuestionText</div>

        @if (question is SelectQuestion)
        {
            var selectQuestion = question as SelectQuestion;

            @for (int optionIndex = 0; optionIndex < selectQuestion.AnswerOptions.Count; optionIndex++)
            {
                var answerOption = selectQuestion.AnswerOptions[optionIndex];

                if (question.QuestionTypeName == "single_select")
                {
                    <div class="form-check">
                        @Html.RadioButton($"QuizAnswers[{questionIndex}].Answers", answerOption.Id, new { @class = "form-check-input", @value = answerOption.Id })
                        <label class="form-check-label">@answerOption.OptionText</label>
                    </div>
                }
                else if (question.QuestionTypeName == "multi_select")
                {
                    <div class="form-check">
                        @Html.CheckBox($"QuizAnswers[{questionIndex}].Answers", new { @class = "form-check-input", @value = answerOption.Id })
                        <label class="form-check-label">
                            @answerOption.OptionText
                        </label>
                    </div>
                }
            }
        }
        else if (question is TextQuestion)
        {
            var textQuestion = question as TextQuestion;

            <div class="mb-3">
                <label class="form-label">Answer</label>
                @Html.TextBox($"QuizAnswers[{questionIndex}].Answers", "" , new { @class = "form-control", @placeholder = "Answer" })
            </div>
        }
    }

    <button type="submit" class="btn btn-primary">Submit</button>

</form>