@model QuizPortalViewModel
@{
    ViewData["Title"] = "Quizzes";
}

<div class="text-center mb-5">
    <h1 class="display-4">Choose a Quiz:</h1>
</div>

<div class="row">
@for (int i = 0; i < Model.Quizzes.Count(); i++)
{
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">@Model.Quizzes[i].Title</h5>
                <p class="card-text">
                    By: @Model.Quizzes[i].Author<br />
                    Created: @Model.Quizzes[i].CreatedTimestamp
                    @if (Model.AverageCompletionTimes[Model.Quizzes[i].QuizId] != null)
                        {
                            <span>Average Completion Time: @(Model.AverageCompletionTimes[Model.Quizzes[i].QuizId].Value.ToHumanizedString())</span>
                        }
                        else
                        {
                            <span>Average Completion Time: None</span>
                        }
                    </p>
                <div class="text-center">
                        <a class="btn btn-primary" href="@Url.Action("Quiz", "Quiz", new { quizId = Model.Quizzes[i].QuizId})">Take it!</a>
                </div>
            </div>
        </div>
    </div>
}
</div>
