@model UserStatsViewModel

<div>Total time spent quizzing: @(Model.TotalTimeQuizzing.Value.ToHumanizedString())</div>
<div>Average quiz score: @(Model.AverageQuizScore.Value.ToString("0.00%"))</div>
<div>Overall questions correct: @(Model.OverallQuestionsCorrect.Value.ToString("0.00%"))</div>
<div>Last Quiz Taken: @(Model.LastQuizCompleted.Title) by @(Model.LastQuizCompleted.Author)</div>